/*FONTS*/
@font-face {
    font-family: "Lora-";
    src: url("Lora-Medium.ttf");
    font-style:normal;
    font-weight:400;
    font-display: swap;
}
@font-face {
    font-family: "modernsans-";
    src: url("MODERNE SANS.ttf");
    font-style:normal;
    font-weight:400;
    font-display: swap;
}
@font-face {
    font-family: "upheavtt";
    src: url("upheavtt.ttf");
    font-style:normal;
    font-weight:400;
    font-display: swap;
}

/*GLOBAL*/
html {
    touch-action: manipulation;
}
body{
    margin:0;
    display:flex;
    flex-direction:column;
    font-family: Lora-, serif;
}
p{
    margin:0;
}
h1 {

}
h3{
    font-family: "upheavtt", serif;
    margin:0;
    font-size:34px;
}
a{
    display:flex;
    color:#e1e2e1;
    text-decoration: none;
}
/*HEADER*/
header{
    display:flex;
    flex-direction: column;
    font-size:12px;
}
.header-top{
    background-color: #000a12;
    color:white;
    font-family: "upheavtt", serif;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:48px;
    padding: 20px 30px;
}
.header-top p {
    display:flex;
    align-self:center;
}
.header-top h1 {
    font-size: 38px;
    margin: 0;
    align-self: center;
}
.header-top img {
    width: 80px;
    height: 80px;
    margin:0;
    padding:0;
}
.header-bottom{
    margin:0;
    padding:0;
    width: 100%;
    height:100%;
}
.header-separator{
    display:none;
}
#first-divider{
    display:none;
}
summary{
    display:flex;
}
details .menu{
    font-family:modernsans-, serif;
    position: absolute;
    color : #e1e2e1;
    background-color : #282c34;
    top:4%;
    right:8%;
    font-size: 16px;
}
.menu a{
    text-transform: uppercase;
    font-size: 36px;
    color : #e1e2e1;
    padding:20px;
    border-bottom: 2px white solid;
}
.menu a:hover{
    background-color : #e1e2e1;
    color : #282c34;
}
.menu a:last-child{
    border : 0;
}
@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0}
}
details[open] .menu {
    animation: sweep .25s ease-in-out;
}
.title-bar{
    height:2px;
    background-color:white;
    width: 66%;
    margin: auto;
    display:none;
}
/*MAIN*/
main{
    font-family: Lora-, serif;
    //background-color: #e1e2e1;
    color : #000a12;
}
.home{
    margin:0;
}
section img {
    width: 100vw;
    margin: auto;
}
.card-home h3 a{
    font-family: modernsans-, serif;
    background-color:#282c34;
    color:#e1e2e1;
    text-align: center;
    padding:20px 0;
    display: flex;
    justify-content: center;
}
.card-home-div{
    display:flex;
    flex-direction: column;
    padding:50px 0;
    background-color:#000a12;
}
.card-home-div img{
    width:85vw;
    padding: 20px;
}
.legend {
    font-family: modernsans-, serif;
    padding: 15px 0;
    text-align: center;
    background-color: #282c34;
    color: #e1e2e1;
    font-size: 36px;
    width: 100vw;
    margin: 0;
    /*transform: translate(0,-0.3em);*/
}
.card-portrait, .card-landscape {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.card-portrait:last-of-type, .card-landscape:last-of-type{
    margin-bottom:0;
}
.card-kumbh .legend {
    transform: translate(0,-0.3em);
}
.card-portrait:first-of-type .legend:first-of-type{
    margin: auto;
}

/*FOOTER*/
footer{
    background-color: #000a12;
    color: #e1e2e1;
    font-size:34px;
}
footer .separator-horizontal{
    background-color: #e1e2e1;
}
#footermenu{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}
#footermenu p{
    padding:0;
    width:50%;
    text-align:justify;
    display: flex;
    align-self: center;
}
.footer-photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.copyright-div{
    padding-top:15px;
}
.copyright{
    font-family: Lora-, serif;
    text-align: right;
    font-size: 18px;
    display:flex;
    align-self: end;
}
.inner-footer{
    border: 4px double #e1e2e1;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px #e1e2e1;
    -moz-box-shadow: 0 0 5px #e1e2e1;
    box-shadow: 0 0 5px #e1e2e1;
    padding: 15px 15px 5px 15px;
    margin:15px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.icons{
    width:75px;
    height: 75px;
    margin:0;
    padding:0;
}
.last-div{
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}
.last-div a{
    display: flex;
    align-self: center;
}
#footer-photo{
    padding:0;
    /*width: 210px;*/
    height: 200px;
}
.separator-horizontal{
    height : 2px;
    background-color:#000a12;
    margin: 25px 75px;
}
#icons-div, #icons-div-mobile{
    display: flex;
    justify-content: space-around;
    padding-right:5vw;
    padding-top:20px;
}
#icons-div{
    display:none;
}
.copyright-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.arrow{
    width: 75px;
    padding:0;
    margin:0;
}
.contact{
    align-self: center;
    font-family: "upheavtt", serif;
    padding: 16px;
    margin: 0 10px;
    background-color: #000a12;
    border-radius: 8px;
    color: #e1e2e1;
    font-size: 36px;
}
.footer-bottom a{
    padding-left: 8px;
}
.links div a{
    font-size: 36px;
    width: 35%;
    margin-bottom: 5px;
}
.links div a:last-child{
    margin-bottom:0;
}
.last-div p{
    padding: 0 10vw;
}
#arrow{
    width: 75px;
}
body{
    background-color:#697987;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-separator{
        height:25px;
        width:100%;
    }
    #first-divider{
        display:block;
    }
    .title-bar{
        display: block;
    }
    .header-separator{
        display:block;
    }
    .header-top img {
        width: 60px;
        height: 60px;
    }
    .header-top h1 {
        font-size: 50px;
    }
    .header-bottom-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: black;
        padding-bottom: 20px;
    }
    .header-bottom{
        width: 50%;
    }
    .home {
        display: flex;
    }
    footer h3 {
        font-size: 36px;
    }
    footer h3 {
        margin: 0 15vw;
    }
    .header-top {
        padding: 5px 50px;
    }
    .card-home h3 a{
        font-size: 36px;
        padding: 20px 0;
        height: 30px;
        border-radius: 5px;
        background-color: rgba(0,0,0,0);
    }
    .card-home-div {
        padding: 20px 0;
    }
    section img{
        width: 100%;
    }
    .landscape{
        width:45vw;
        height: 101%;
    }
    .menu a {
        font-size:18px;
    }
    .header-top{
        font-size:26px;
    }
    .card-home-div-content p{
        text-align: center;
        font-size: 14px;
    }
    .card-home-div{
        margin:auto;
    }
    .card-home-div img {
        width: 35vw;
        padding: 10px;
    }
    main{
        margin: 0 0;
    }
    .index-grid {
        margin: 0 auto;
        max-width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
    }
    section{
        margin: 0 auto;
    }
    .legend-portrait{
        width: 100%;
    }
    .legend-landscape{
        width:45vw;
    }
    footer{
        font-size:18px;
    }
    #footermenu{
        margin-bottom: 10px;
    }

    .links div a {
        font-size: 18px;
    }
    .last-div p {
        padding: 0 2vw;
    }
    #footer-photo{
        height:100px;
    }
    .icons{
        width:50px;
        height:50px;
    }
    #icons-div, #icons-div-mobile{
        padding:0;
        align-self: end;
    }
    #footermenu p{
        font-size:22px;
    }
    .copyright-div {
        padding-top: 0;
    }
    .links{
        width:20%;
    }
    .links div a {
        width: 80%;
    }
    .copyright {
        font-size: 12px;
        align-self: end;
    }
    .arrow {
        width: 60px;
    }
    .contact{
        font-size : 26px;
        padding: 8px;
    }
    .card-content {
        width: 41vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #000a12;
        padding : 50px 25px 50px 25px;
    }
    .header-separator {
        height: 70px;
    }
}


/* MID-DPI LAPTOP */
@media only screen and (min-width: 1200px) {
    body{
        background-color:#FFFFFF;
    }
    .grid-portrait {
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto 25px auto;
        width: 100%;
        text-align: center;
        place-items: center;
    }
    .grid-portrait-expo{
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto 25px auto;
        width: 100%;
        text-align: center;
        place-items: center;
    }
    .grid-landscape {
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto 25px auto;
        width: 100%;
        text-align: center;
        place-items: center;
        padding-top : 25px;
    }
    .grid-landscape-expo {
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto 25px auto;
        width: 100%;
        text-align: center;
        place-items: center;
        padding-top : 25px;
    }
    .grid-portrait .card-portrait, .grid-portrait-expo .card-portrait{
        width:15em;
        height:23em;
        background-color:#282c34;
    }
    .grid-portrait .card-kumbh{
        width:30em;
        height:49em;
    }
    .grid-landscape .card-landscape, .grid-landscape-expo .card-landscape{
        height: 24em;
        width: 28em;
    }
    .card-home{
        display: flex;
        flex-direction: column;
        /*background-color:#000a12;*/
    }
    .card-home h3{
        margin:auto;
        width: 100%;
        margin-bottom: 20px;
    }
    .separator-horizontal{
        height : 2px;
        background-color:#000a12;
        margin: 10px 15vw;
    }
    .legend{
        font-size: 18px;
        margin:0;
    }
    .links, .last-div{
        width:30%;
        display:flex;
    }
    .last-div{
        width:100%;
        display:flex;
    }
    .footer-content{
        flex-direction: row;
    }
    .links div a {
        width: 100%;
    }
    .footer-content{
        justify-content: center;
        margin-top: 20px;
    }
    .promo{
        display: flex;
    }
    /*ANIMATION ON CARD HOVER*/
    .card-content a{
        transition: font-size 0.2s ease-in-out;
    }
    .card-content:hover a{
        font-size: 42px;
    }
    .card-content:hover .title-bar{
        width:80%;
    }
    #icons-div-mobile{
        display:none;
    }
    #icons-div{
        display:flex;
        align-self: center;
    }
    .copyright-div{
        justify-content: end;
    }
    #footer-photo{
        height:150px;
    }
    #footermenu p {
        font-size: 18px;
        padding : 0 10px;
    }
    .contact {
        font-size: 16px;
    }
    .header-separator {
        height: 35px;
    }
    section .header-separator:last-of-type{
        display:none;
    }
    .grid-portrait .card-portrait, .grid-portrait-expo .card-portrait{
        width:32em;
        height:46em;
    }
    .grid-landscape .card-landscape, .grid-landscape-expo .card-landscape{
        height: 34em;
        width: 40em;
    }
    .grid-landscape-expo .card-landscape{
        width:22em;
        height:18em;
    }
    .grid-portrait .card-kumbh{
        width:24em;
        height:39em;
    }
}

/* IPAD */
@media only screen and (min-width: 1400px) {
    .grid-portrait {
        grid-template-columns: 1fr 1fr;
    }
    .grid-portrait-expo{
        grid-template-columns: 1fr 1fr;
    }
    .grid-landscape {
        grid-template-columns: 1fr 1fr;
    }
    .grid-landscape-expo {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-portrait .card-portrait, .grid-portrait-expo .card-portrait{
        width:28em;
        height:40em;
    }
    .grid-landscape .card-landscape, .grid-landscape-expo .card-landscape{
        height: 34em;
        width: 40em;
    }
    .grid-landscape-expo .card-landscape{
        width:26em;
        height:22em;
    }
}

@media only screen and (min-width: 1800px) {
    .grid-portrait {
        grid-gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 auto 25px auto;
        width: 100%;
        text-align: center;
        place-items: center;
    }
    .inner-footer{
        margin: 2vw 15vw;
    }
    .grid-portrait .card-portrait, .grid-portrait-expo .card-portrait{
        width:27em;
        height:38em;
    }
    .grid-portrait .card-kumbh{
        width:27em;
        height:43em;
    }
    .grid-landscape .card-landscape, .grid-landscape-expo .card-landscape{
        height: 30em;
        width: 36em;
    }
}
