/*FONTS*/
@font-face {
    font-family: "Lora-";
    src: url("fonts/Lora-Medium.ttf");
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family: "modernsans-";
    src: url("fonts/MODERNE SANS.ttf");
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family: "upheavtt";
    src: url("fonts/upheavtt.ttf");
    font-style:normal;
    font-weight:400;
}
/*GLOBAL*/
body{
    display:flex;
    flex-direction:column;
    margin:0;
    font-family: Lora-, serif;
    background-color:#e1e2e1;
}
p{
    margin:0;
}
h1 {

}
h3{
    font-family: "upheavtt", serif;
    margin:0;
}
a{
    display:flex;
    color:black;
    text-decoration: none;
}
/*HEADER*/
header{
    display:flex;
    flex-direction: column;
}
.header-top{
    background-color: #000a12;
    color:white;
    font-family: "upheavtt", serif;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:15px;
    font-size:48px;
}
.header-top h1 {
    font-size: 46px;
    margin: 0;
    align-self: center;
}
.header-top img {
    height: 25px;
    width: 25px;
    margin:0;
    padding:0;
}
.header-bottom{
    margin:0;
    padding:0;
    width: 100%;
    height:100%;
}
.header-separator{
    height:25px;
    width:100%;
    background-color: #000a12;
}
.header-separator:first-of-type{
    margin-top: 15px;
}
header button{
    align-self: center;
}
summary{
    display:flex;
}
details .menu{
    font-family:modernsans-, serif;
    position: absolute;
    color : #e1e2e1;
    background-color : #282c34;
}
.menu a{
    text-transform: uppercase;
    font-size: 36px;
    color : #e1e2e1;
    padding:20px;
    border-bottom: 2px white solid;
}
.menu a:hover{
    background-color : #e1e2e1;
    color : #282c34;
}
.home-title img{
    filter: none;
}
.menu a:last-child{
    border : 0;
}
details[open] .menu {
    animation: sweep .25s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0}
}
/*MAIN*/
main{
    font-family: Lora-, serif;
    background-color: #e1e2e1;
    color : #000a12;
}
.home{
    /*display:flex;*/
    /*flex-direction: column;*/
    margin:0;
}
.card-home h3 a{
    font-family: modernsans-, serif;
    background-color:#282c34;
    color:#e1e2e1;
    text-align: center;
    padding:20px 0;
    display: flex;
    justify-content: center;
}
.card-home-div{
    display:flex;
    flex-direction: column;
    padding:50px 0;
}
.card-home-div img{
    width:85vw;
    padding: 10px;
}
.card-home-div-content p{
    font-size: 28px;
    text-align: center;
    padding: 20px;
}
.card-home-div-content a img{
    width: 50px;
    margin:0;
}
.card-home-div-content a{
    display: flex;
}
.card-home-div-content p{
    align-self:center;
}
.legend {
    font-family: modernsans-, serif;
    padding: 15px 0;
    text-align: center;
    background-color: #282c34;
    color: #e1e2e1;
    font-size: 36px;
    width: 100vw;
    margin: 30px auto auto;
}
.card:first-of-type .legend:first-of-type{
    margin: auto;
}
.card{
    display:flex;
    flex-direction: column;
    font-size: 14px;
}

/*FOOTER*/
.promo {
    font-family: Lora-, serif;
}
#footermenu{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}
#footermenu p{
    padding:0;
    width:50%;
    text-align:justify;
    display: flex;
    align-self: center;
}
.promo p, .follow p {
    text-align:justify;
}
footer{
    background-color: #e1e2e1;
}
.footer-photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.promo p{
    margin-bottom:5px;
}
.copyright-div{
    padding-top:15px;
}
.copyright{
    font-family: Lora-, serif;
    text-align: right;
    font-size: 18px;
    display:flex;
    align-self: end;
}
.inner-footer{
    border: 3px solid black;
    margin:5px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-bottom{
    display: flex;
    flex-direction: row;
    padding: 0 40px;
}
.icons{
    width:75px;
    height: 75px;
    margin:0;
    padding:0;
}
.last-div{
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}
.last-div a{
    display: flex;
}
.footer-photo img{
    padding:0;
}
.separator-horizontal, .separator-vertical{
    height : 2px;
    background-color:black;
    margin: 25px 75px;
}
/*NOT USED*/
.photo-title{
    color:#e1e2e1;
    width: 66%;
    border: 1px white solid;
    padding: 5px;
    margin: auto;
    height : 30px;
}
.photo-title p{
    padding: 5px 0 5px 0;
    margin: 0 5px 0 5px;
    text-align: center;
}
.photo-frame{
    position: absolute;
    border: 1px white solid;
    width: 66%;
    padding: 5px;
    margin: auto;
    height : 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px;
}

.links{
    justify-content: center;
}
.links div, .last-div div:nth-child(1){
    display:flex;
    flex-direction: column;
    align-self:center;
}
.links div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.links div a, .card-home-div-content a {
    background-color: #282c34;
    padding: 8px 20px;
    border: 1px solid #282c34;
    border-radius: 15px;
    color: #e1e2e1;
    display: flex;
    justify-content: center;
    font-family: "modernsans-", serif;
    font-size: 16px;
    width: 45%;
    margin: auto;
}
/*.links div a:nth-child(2) {*/
/*    margin:10px auto;*/
/*}*/
.links div a:hover, .card-home-div-content a:hover {
    color: #282c34;
    background-color: #e1e2e1;
}
.links div a p{
    text-align: center;
}
.icons-div{
    display: flex;
    justify-content: space-around;
    padding-right:5vw;
    padding-top:20px;
}
.copyright-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copyright-div img{
    width: 130px;
    padding:0;
    margin:0;
}
#contact{
    align-self: center;
    font-family: "upheavtt", serif;
    padding: 16px;
    margin: 0 10px;
    background-color: #000a12;
    border-radius: 8px;
    color: #e1e2e1;
    font-size: 36px;
}

/*MEDIA QUERIES RESPONSIVE*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    details .menu{
        top:5%;
        right:10%;
    }
    header{
        font-size:12px;
    }
    .header-top{
        justify-content: space-around;
    }
    .header-top p {
        display:flex;
        align-self:center;
    }
    details .menu{
        top:5%;
        right:10%;
    }
    img{
        width: 250px;
    }

    .footer-bottom a{
        padding-left: 8px;
    }
    .card-title{
        height: 60px;
        padding:5px;
        background-color:#282c34;
        display:flex;
    }
    .footer-photo img{
        width: 210px;
        padding:0;
    }
    .inner-footer{
        padding:5px;
        margin:5px;
    }
    .promo {
        font-size : 12px;
    }
    .follow{
        font-size: 12px;
    }
    .copyright{
        display: flex;
        align-self: end;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
    details .menu{
        top:4%;
        right:8%;
        font-size: 16px;
    }
    section img {
        width: 100vw;
        margin: auto;
    }
    .header-top{
        justify-content: space-between;
        padding: 20px 50px;
    }
    .header-top img{
        width: 80px;
        height: 80px;
    }
    .header-top p{
        display: flex;
        align-self: center;
    }
    h3{
        font-size:48px;
    }
    .footer-photo img{
        height: 200px;
        padding:0;
    }
    .inner-footer{
        padding:15px 15px 0 15px;
        margin:15px;
    }
    footer{
        font-size:34px;
    }
    .links div a{
        font-size: 36px;
        width: 35%;
        margin-bottom: 5px;
    }
    .links div a:last-child{
        margin-bottom:0;
    }
    .card-home-div-content a {
        font-size: 26px;
        width: 60%;
    }
    .promo, .last-div p{
        padding: 0 10vw;
    }
    .icons {
        width: 75px;
        height: 75px;
    }
}
@media only screen and (min-width: 768px) and (min-height: 1000px){
    section img {
        width: 100vw;
        margin: auto;
    }
    footer {
        font-size: 24px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header-top img {
        width: 60px;
        height: 60px;
    }
    .header-top h1 {
        font-size: 36px;
    }
    .header-bottom-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: black;
    }
    .header-bottom{
        width: 50%;
    }
    .home {
        display: flex;
    }
    .card-home-div-content a {
        font-size: 16px;
        width: 60%;
    }
    footer h3 {
        font-size: 36px;
    }
    footer h3 {
        margin: 0 20vw;
    }
    .header-top {
        padding: 5px 50px;
    }
    .card-home-div-content a p {
        padding: 10px;
    }
    .card-home-div-content a {
        padding:0;
    }
    .card-home{
        padding: 0 10px;
    }
    .card-home h3 a{
        font-size: 28px;
        padding: 10px 0;
        height: 30px;
    }
    .card-home-div {
        padding: 5px 0;
    }
    .card-home-div-content a img {
        width: 35px;
    }
    section img{
        width: 25vw;
        margin:auto;
        height: 101%;
    }
    .landscape{
        width:45vw;
        height: 101%;
    }
    .menu a {
        font-size:18px;
    }
    .header-top{
        font-size:26px;
    }
    .card-home-div-content p{
        text-align: center;
        font-size: 16px;
    }
    .card-home-div{
        margin:auto;
    }
    .card-home-div img {
        width: 30vw;
        padding: 10px;
    }
    main{
        margin: 0 0;
    }
    section, .index-grid {
        margin:0 5vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
    .legend{
        width: 45vw;
    }
    .card:nth-child(odd){
        border-right: 10px solid #e1e2e1;
    }
    .card:nth-child(even){
        border-left: 10px solid #e1e2e1;
    }
    footer{
        font-size:16px;
    }

    .links div a {
        font-size: 18px;
    }
    .promo, .last-div p {
        padding: 0 2vw;
    }
    .footer-photo img{
        height:100px;
    }
    .icons{
        width:35px;
        height:35px;
    }
    .icons-div{
        padding:0;
        align-self: end;
    }
    #footermenu p{
        font-size:14px;
    }
    .copyright-div {
        padding-top: 0;
    }
    .links{
        width:20%;
    }
    .links div a {
        width: 80%;
    }
    .copyright {
        font-size: 12px;
        align-self: end;
    }
    .copyright-div img {
        width: 50px;
    }
    #contact{
        font-size : 16px;
        padding: 8px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .separator-horizontal{
        height : 2px;
        background-color:black;
        margin: 10px 20vw;
    }
    .separator-vertical{
        width:2px;
        background-color: black;
        margin: 25px 25px;
        height: 100px;
    }
    .card:first-of-type .legend:first-of-type{
        margin: 30px auto auto;
    }
    .legend{
        font-size: 28px;
    }
    .promo{
        display:flex;
    }
    .promo, .links, .last-div{
        width:30%;
        display:flex;
    }
    .last-div{
        width:40%;
        display:flex;
    }
    .promo p{
        display:flex;
        /*align-self: center;*/
    }
    .footer-content{
        flex-direction: row;
    }
    .links div a {
        width: 100%;
    }
    .footer-content{
        justify-content: center;
    }
    .promo{
        display: flex;
        align-self:center;
    }
}

@media only screen and (min-width: 1400px) {

}

@media only screen and (min-width: 1800px) {
    footer{
        margin: 0 15vw;
    }
}

