/*FONTS*/
@font-face {
    font-family: "FFF Forward";
    src: url("./fonts/fff_forward.TTF");
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family: "Lora-";
    src: url("./fonts/Lora-Medium.ttf");
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family: "modernsans-";
    src: url("./fonts/MODERNE SANS.ttf");
    font-style:normal;
    font-weight:400;
}
p{
    margin:0;
}
body{
    display:flex;
    flex-direction:column;
    margin:0;
    font-family: Lora-, serif;
}
/*COLOR CHART*/
header{
    display:flex;
    flex-direction: column;
}
.header-top{
    background-color: #000a12;
    color:white;
    font-family: "FFF Forward", serif;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:15px;
    font-size:12px;
}
.header-top img {
    height: 25px;
    width: 25px;
    margin:0;
    padding:0;
}
.header-bottom{
    margin:0;
    padding:0;
    width: 100%;
}
.header-separator{
    height:25px;
    width:100%;
    background-color: #000a12;
}
header button{
    align-self: center;
}
summary{
    display:flex;
}
details .menu{
    position: absolute;
    top:5%;
    right:10%;
    font-family: Lora-, serif;
    background-color: white;
    color:#282c34;
    padding: 10px;
}
.menu a{
    padding-bottom: 3px;
}
h1{
    background-color: #282c34;
    margin:0;
    color: white;
    padding-left:25px;
}
main{
    font-family: Lora-, serif;
    background-color: #e1e2e1;
    color : #000a12;
}
footer{
    background-color: #f5f5f6;
}
h3{
    font-family: "FFF Forward", serif;
    padding-left: 30px;
}
.card{
    display:flex;
    flex-direction: column;
    padding-bottom: 20px;
    font-size: 14px;
}
img{
    margin:auto;
    padding:18px;
}
.separator{
    height : 1px;
    background-color:black;
    margin: 10px 30px;
}
.photo-title{
    color:#e1e2e1;
    width: 66%;
    border: 1px white solid;
    padding: 5px;
    margin: auto;
    height : 30px;
}
.photo-title p{
    padding: 5px 0 5px 0;
    margin: 0 5px 0 5px;
    text-align: center;
}
.photo-frame{
    position: absolute;
    border: 1px white solid;
    width: 66%;
    padding: 5px;
    margin: auto;
    height : 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px;
}
.promo {
    font-family: Lora-, serif;
    font-size: 12px;
}
.separator{
    height: 1px;
    background-color: black;
}
.legend{
    font-family: modernsans-, serif;
    padding:10px;
    text-align: center;
    background-color: #282c34;
    color:#e1e2e1;
    font-size:16px;
}



/*MEDIA QUERIES RESPONSIVE*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header{
        font-size:12px;
    }
    img{
        width: 250px;
    }
    .icons{
        width:30px;
        height: 30px;
        margin:0;
        padding:0;
    }
    .icons-div{
        width:50%;
        display:flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
    }

    .footer-bottom a{
        padding-left: 8px;
    }
    a{
        display:flex;
        color:black;
        text-decoration: none;
    }
    footer{
        padding:5px;
        margin:5px;
        border: 1px solid black;
    }
    h3{
        margin:0;
    }
    .promo p{
        padding-left: 20px;
        margin-bottom:5px;
    }
    .promo p:nth-child(2){
        text-align: right;
    }
    .copyright{
        font-family: Lora-, serif;
        text-align: right;
        padding-top:15px;
        font-size: 10px;
    }
    .footer-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .card-title{
        height: 60px;
        padding:5px;
        background-color:#282c34;
        display:flex;
    }
    .footer-bottom{
        display: flex;
        flex-direction: row;
        padding: 0 40px;
    }
    .footer-photo{
        width: 50%;
    }
    .footer-photo img{
        width: 125px;
        padding:0;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    img{
        height: 410px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}



