/*FONTS*/
@font-face {
    font-family: "FFF Forward";
    src: url("./fonts/fff_forward.TTF");
}
@font-face {
    font-family: "Lora-";
    src: url("./fonts/Lora-Medium.ttf");
}
body{
    display:flex;
    flex-direction:column;
    margin:0;
}
/*COLOR CHART*/
header{
    background-color: #000a12;
    color:white;
    font-family: "FFF Forward", serif;
}
h1{
    background-color: #263238;
    margin:0;
    font-family: Lora-, serif;
}
main{
    background-color: #e1e2e1;
}
footer{
    background-color: #f5f5f6;
}


/*MEDIA QUERIES RESPONSIVE*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
